<p><b>Describe the situation.</b> Now, from the three boxes, please place the items into nine boxes. Placing an item in
    the highest (right-hand) category indicates that the item is "extremely characteristic" of the situation. Only
    three cards can go into this category, so they should be the best descriptors. Putting an item in the middle
    categories means that the item is irrelevant to the situation, or that you are unsure of where the item belongs.
    Putting an item in the lowest (right-hand) category implies that the item is "extremely uncharacteristic" of the
    situation. Again, only three cards can go into this category so they sgould be the items that are the very LEAST
    characteristic. A fixed number of items goes into each box. You can drag and drop items from one box to another,
    but if you leave too maby items in any one box, the heading will turn red. The heading will turn green when the
    right number of items is in the box.
</p>
<br>
<h4 class="text-center"><b>{{responses.activity}}</b></h4>
<h4 class="text-center"><b>{{responses.location}}</b></h4>
<h4 class="text-center"><b>{{responses.peoplePresent}}</b></h4>
<br>
<div class="row">
    {{#each-in buckets as |bucket array|}}
      <div class="col-md-4">
          <h3 class="text-center">{{capitalize bucket}}</h3>
          {{#draggable-object-target bucket=bucket cards=cards buckets=buckets1}}
            <div class="well bucket">
              {{#each array as |card|}}
                {{#draggable-object content=card}}
                  <div class="item alert alert-info" data-id={{card.id}}>{{card.content}}</div>
                {{/draggable-object}}
              {{/each}}
            </div>
          {{/draggable-object-target}}
      </div>
    {{/each-in}}
</div>
<div class="row">
    {{#each-in buckets2 as |group categories|}}
      <div class="col-sm-4">
          <div class="row">
            {{#each-in categories as |category data|}}
              <div class="col-sm-4">
              <h5 class="text-center">{{data.name}}</h5>
              <h5 class="text-center
                {{if (gte data.cards.length data.max) (if (eq data.cards.length data.max) 'text-success' 'text-danger') ''}}">
                {{data.cards.length}}/{{data.max}}
              </h5>
              {{#draggable-object-target bucket=data.cards buckets=buckets buckets2=buckets2 action="dragCard"}}
                <div class="well bucket">
                  {{#each data.cards as |card|}}
                    {{#draggable-object content=card}}
                      <div class="item alert alert-info" data-id={{card.id}}>{{card.content}}</div>
                    {{/draggable-object}}
                  {{/each}}
                </div>
              {{/draggable-object-target}}
              </div>
            {{/each-in}}
        </div>
      </div>
    {{/each-in}}
</div>
