<div class="well">
    <div class="form">
      <div class="form-group">
        <label for="participant">{{t 'login.studyID'}}</label>
        <div class="form-input">
          {{input value=password}}
        </div>
      </div>
      <div class="form-group">
        <label for="participant">{{t 'login.participantID'}}</label>
        <div class="form-input">
          {{input value=username}}
        </div>
      </div>
      <div class="form-group">
        <button disabled={{disableLogin}} class="btn btn-primary" onclick={{action 'authenticate'}}>{{t 'global.continueLabel'}}</button>
          {{#if authenticating}}
              <i class="fa fa-spinner fa-lg fa-spin" aria-hidden="true"></i>
              <span class="sr-only">Logging in</span>
          {{/if}}
      </div>
    </div>
</div>
