<p>
    Welcome! We are interested in the situations people experience and what they do in them. You will describe a
    situation you experienced recently and what you did in that situation. You will also be asked some questions about
    your attitudes and values. Based on these responses, when you have completed the study, you will receive
    individualized information about your personality that we hope you will find interesting.
</p>
{{#bs-form}}
  {{#each-in questions as |question parts|}}
    {{#bs-form-group}}
      <label>{{parts.question}}</label>
      {{#if (eq parts.type 'radio')}}
        {{radio-group options=parts.scale labelTop=parts.labelTop value=parts.value}}
      {{else if (eq parts.type 'select')}}
        {{select-input options=parts.scale value=parts.value}}
      {{else if (eq parts.type 'input')}}
        {{#input class="form-control auto-width" value=parts.value}}{{/input}}
      {{/if}}
    {{/bs-form-group}}
  {{/each-in}}
  <div class='btn btn-primary pull-right {{if (v-get this 'isInvalid') "disabled" "enabled"}}' {{action 'nextSection'}}>Continue</div>
  {{progress-bar pageNumber=1}}
{{/bs-form}}
