<p>{{t 'survey.sections.1.instructions'}}</p>
{{#bs-form}}
  {{#each-in questions as |question parts|}}
    {{#bs-form-group}}
      <label>{{t parts.question}}</label>
      {{#if (eq parts.type 'radio')}}
        {{radio-group options=parts.scale labelTop=parts.labelTop value=parts.value}}
      {{else if (eq parts.type 'select')}}
        {{select-input options=parts.scale value=parts.value}}
      {{else if (eq parts.type 'input')}}
        {{#input class="form-control auto-width" value=parts.value}}{{/input}}
      {{/if}}
    {{/bs-form-group}}
  {{/each-in}}
  <div class='btn btn-primary pull-right {{if (v-get this 'isInvalid') "disabled" "enabled"}}' {{action 'nextSection'}}>{{t 'global.continueLabel'}}</div>
  {{progress-bar pageNumber=1}}
{{/bs-form}}
