<p class="break-line">{{t 'survey.sections.1.instructions'}}</p>
{{#bs-form}}
  {{#each questions as |question|}}
    {{#bs-form-group}}
      <label>{{t question.question}}</label>
      {{#if (eq question.type 'radio')}}
        {{radio-group options=question.scale labelTop=question.labelTop value=question.value}}
      {{else if (eq question.type 'select')}}
        {{select-input options=question.scale value=question.value}}
      {{else if (eq question.type 'input')}}
        {{#input class="form-control auto-width" value=question.value}}{{/input}}
      {{/if}}
    {{/bs-form-group}}
  {{/each}}
  <div class='btn btn-primary pull-right {{if (v-get this 'isInvalid') "disabled"}}' {{action 'nextSection'}}>{{t 'global.continueLabel'}}</div>
  {{progress-bar pageNumber=1}}
{{/bs-form}}
