<div class="well">
  <h2>{{content.title}}</h2>
  <hr>
  {{#each-in content.paragraphs as |paragraph text|}}
    <p>{{text}}</p>
  {{/each-in}}
  <hr>
  <div class="input-group">
    {{input type="checkbox" checked=consentGranted}}
    <span>
      {{content.consentLabel}}
    </span>
  </div>
  <div class="row exp-controls">
  {{#link-to 'participate' class="btn btn-default pull-right btn-primary" disabled=consentNotGranted}}
    {{content.buttonLabel}}
  {{/link-to}}
  </div>
</div>
