<div class="radio-group">
    {{#each options as |option index|}}
      <label class="text-center label-text {{if formatLabel 'format-label'}}">
          {{#if labelTop}}
            {{t option}}
            {{radio-button value=option checked=value}}
            {{#each-in labels as |ratings value|}}
              {{#if (eq value.rating index)}}
                {{t value.label}}
              {{/if}}
            {{/each-in}}
          {{else}}
            {{#each-in labels as |ratings value|}}
              {{#if (eq value.rating index)}}
                {{t value.label}}
              {{/if}}
            {{/each-in}}
            {{radio-button value=option checked=value}}
            {{t option}}
          {{/if}}
      </label>
    {{/each}}
</div>
