{{#bs-form}}
  {{#each-in questions as |question parts|}}
    {{#bs-form-group}}
      <label>{{parts.question}}</label>
      {{#if (eq parts.type 'radio')}}
        {{#each-in parts.items as |item data|}}
          {{#if data.description}}
            <p>{{data.description}}</p>
          {{/if}}
          {{radio-group options=parts.scale labelTop=data.labelTop labels=data.labels value=data.value}}
        {{/each-in}}
      {{else if (eq parts.type 'select')}}
        {{select-input options=parts.scale value=parts.items.item1.value}}
      {{else if (eq parts.type 'radio-input')}}
          {{radio-group options=parts.scale value=parts.items.radio.value}}
          {{#if (eq parts.items.radio.value 'Yes')}}
            <p>{{parts.items.input.description}}</p>
            {{#input value=parts.input.value}}{{/input}}
            <br>
          {{/if}}
      {{else if (eq parts.type 'textarea')}}
        {{#textarea value=parts.input.value cols="100" rows="6"}}{{/textarea}}
      {{/if}}
    {{/bs-form-group}}
  {{/each-in}}
  <div class='btn btn-primary pull-right {{if (v-get this 'isInvalid') "disabled" "enabled"}}' {{action 'nextSection'}}>Continue</div>
{{/bs-form}}
