{{#bs-form}}
  {{#each questions as |question|}}
    {{#bs-form-group}}
      <label class="break-line">{{t question.question}}</label>
      {{#if (eq question.type 'radio')}}
        {{#each question.items as |item|}}
          {{#if item.description}}
            <p>{{t item.description}}</p>
          {{/if}}
          {{radio-group options=question.scale labelTop=item.labelTop labels=item.labels value=item.value}}
        {{/each}}
      {{else if (eq question.type 'select')}}
        {{select-input options=question.scale value=question.items.item1.value}}
      {{else if (eq question.type 'radio-input')}}
          {{radio-group options=question.scale value=question.items.radio.value}}
          {{#if (eq question.items.radio.value 'Yes')}}
            <p>{{t question.items.input.description}}</p>
            {{#input value=question.input.value}}{{/input}}
            <br>
          {{/if}}
      {{else if (eq question.type 'textarea')}}
        {{#textarea value=question.input.value cols="100" rows="6"}}{{/textarea}}
      {{/if}}
    {{/bs-form-group}}
  {{/each}}
  <div class='btn btn-primary pull-right {{if (v-get this 'isInvalid') "disabled" "enabled"}}' {{action 'nextSection'}}>{{t 'global.continueLabel'}}</div>
  {{progress-bar pageNumber=5}}
{{/bs-form}}
