{{#bs-form}}
  {{#bs-form-group}}
    <label class="control-label">
        Overall, was the situation you described a positive experience or a negative experience?
    </label>
    <br>
    {{#bs-dropdown}}
      {{#bs-dropdown-button}}Please select <span class="caret"></span>{{/bs-dropdown-button}}
      {{#bs-dropdown-menu}}
        {{#each ratings as |rating|}}
          <li>{{rating}}</li>
        {{/each}}
      {{/bs-dropdown-menu}}
    {{/bs-dropdown}}
  {{/bs-form-group}}
  {{#each-in questions as |question parts|}}
      <label>{{parts.question}}</label>
     {{#each-in parts as |part data|}}
      <p>{{data.description}}</p>
      {{radio-group options=data.options labelTop=data.labelTop labels=data.labels value=data.value}}
     {{/each-in}}
  {{/each-in}}
{{bs-button class="pull-right" defaultText="Continue" type="primary" action='nextSection'}}
{{/bs-form}}
