{{#if (not (re-match '^participate' router.currentRouteName))}}
<div class="container-fluid" id="header">
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <div class="brand">
          <img src="assets/img/isp-logo.png" class="logo" />
        </div>
      </div>
      <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
          <li>{{link-to 'Home' 'index'}}</li>
          <li>{{link-to 'Project Info' 'index.info'}}</li>
	        <li>{{link-to 'FAQs' 'index.faqs'}}</li>
	        <li>{{link-to 'Contact Us' 'index.contact'}}</li>
	      </ul>
      </div>
    </div>
  </div>
</div>
{{/if}}
<div class="container" id="content">
  {{outlet}}
</div>
{{#if (not (re-match '^participate' router.currentRouteName))}}
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
	<hr>
	<p>
	  Copyright © 2011-2016 <a href="http://centerforopenscience.org">Center for Open Science</a> |
	  <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/TERMS_OF_USE.md">Terms of Use</a> |
	  <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/PRIVACY_POLICY.md">Privacy Policy</a>
	</p>
      </div>
    </div>
  </div>
</footer>
{{/if}}