<h3>International Situations Project</h3>
{{#if (eq section 'section-one')}}
  {{overview-info-form nextSection="nextSection" update="update"}}
{{else if (eq section 'section-two')}}
  {{free-response-form nextSection="nextSection" update="update"}}
{{else if (eq section 'section-three')}}
  {{card-sort cards=model.cards buckets=model.cardSort1 buckets2=model.cardSort2 responses=model.freeResponse moveCard="moveCard" nextSection="nextSection"}}
{{else if (eq section 'section-four')}}
  {{rating-form nextSection="nextSection" update="update"}}
{{else if (eq section 'section-five')}}
  {{thank-you}}
{{/if}}
